<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3 col-lg-6">
      

<form action="/crearusuario" method="POST" role="form">
  <legend>Crear usuario</legend>

  <div class="form-group">
    <input type="text" name="name" class="form-control" id="" placeholder="nombre">
    <input type="text" name="lastname" class="form-control" id="" placeholder="apellido">
    <input type="text" name="mail" class="form-control" id="" placeholder="correo">
    <input type="text" name="location" class="form-control" id="" placeholder="ubicacion">
    <input type="text" name="telephone" class="form-control" id="" placeholder="telefono">

  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>



    </div>

  </div> 