<%- partial('partials/header.ejs')%>

<div class="container-fluid">
 
  <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3 col-lg-6">
                  
              </div>
<form action="/add" method="get" role="form">

    <button type="submit" class="btn btn-primary">Mostrar Usuarios</button>
</form>
    </div>


</div>

  



<%- partial('partials/footer.ejs')%>