<div class="container-fluid">
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      

<form action="/registro" method="POST" role="form">
  <legend>Form title</legend>

  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="nombre">
    <input type="text" class="form-control" id="" placeholder="apellido">
    <input type="text" class="form-control" id="" placeholder="correo">
    <input type="text" class="form-control" id="" placeholder="ubicacion">
    <input type="text" class="form-control" id="" placeholder="telefono">

  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


    </div>
  </div>  
</div>
